<h1>タスク新規作成</h1>
<%= form_with model: @task, local: true do |f| %>
  <%= f.text_field :task_title, placeholder: "title" %>
  <%= f.text_area :task_memo, placeholder: "memo" %>
  <%= f.date_field :task_time %>
  <%= f.submit "SEND" %>
<% end %>

